body{
  overflow-x: hidden;
}
h1{
  font-family: 'Roboto' ,Arial;
}
.carousel-item img{
  width: 100%;
  height: 80vh;
}
.card-body img{
  min-width: 50%;
  max-height: 200px;
}

@media(min-width: 1px) and (max-width:800px) {
  #img{
    padding: 40px;  
  }
}